@CHARSET "ISO-8859-1";
/* Basisvorlage CSS / Druck
www.dalieweb.de
Start: 00.00.20xx
Letzte Aenderung: 00.00.20xx
*/

body {
	background: white;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

#navigation, 
#meta-information,
#rand-information,
#druck, 
#notizen{
	display: none;
}
.bild{
	float: left;
	margin: 0 5%;
	padding: 5px;
	width: 157px;
	border-style: solid;
	border-width: 1px;
	border-color: black
}

#wrapper {
	width: auto;
	margin: 0 5%;
	padding: 0;
	border: 0;
	float: none !important;
	color: #000;
	background: transparent none;
}

h1, h2, h3, h4, h5, h6 {
	padding-top: 2pt;
	padding-bottom: 2pt;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	font-weight: normal;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: normal;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: normal;
}

h4 {
	font-size: 14pt;
}

p, ul {
	font-size: 12pt;
	line-height: 14pt;
}
iframe{
	height: 800px;
	width: 920px;
}
textarea, input[type=text] {
	border: none;
	border-bottom: 2px #000 dashed;
}