@CHARSET "ISO-8859-1";

div.dalie-container {
	background-color: #ECE5DB;
	/*background-color: #780000;*/
	border: 4px solid #ddd;
	border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
	-moz-border-radius: 0.6em;
}


div.border {
	border: 1px solid #ddd;
	border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
}

@media screen and (max-height: 290px) {
	
	div.dalie-container {
		display: none;
	}
	
}

@media screen and (max-height: 524px) {
	
	div.dalie-borderHide {
		border: 0.1px solid #ddd;
	}
	
	div.spacer-t20 {
		margin-top: 10%;
	}
}