<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Mobile</display-name>
	<servlet>
		<description>SiteType01</description>
		<display-name>SiteType01</display-name>
		<servlet-name>SiteType01</servlet-name>
		<jsp-file>/siteTypes/SiteType01.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SiteType01</servlet-name>
		<url-pattern>/SiteType01</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>SiteType02</description>
		<display-name>SiteType02</display-name>
		<servlet-name>SiteType02</servlet-name>
		<jsp-file>/siteTypes/SiteType02.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SiteType02</servlet-name>
		<url-pattern>/SiteType02</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Scripts include</description>
		<display-name>Hosted_1_3_1</display-name>
		<servlet-name>Hosted_1_3_1</servlet-name>
		<jsp-file>/siteTypes/cdn/Hosted_1_3_1.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hosted_1_3_1</servlet-name>
		<url-pattern>/Hosted_1_3_1</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Scripts include</description>
		<display-name>Hosted_1_4_2</display-name>
		<servlet-name>Hosted_1_4_2</servlet-name>
		<jsp-file>/siteTypes/cdn/Hosted_1_4_2.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hosted_1_4_2</servlet-name>
		<url-pattern>/Hosted_1_4_2</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Main</description>
		<display-name>Main</display-name>
		<servlet-name>Main</servlet-name>
		<jsp-file>/siteContents/main/Main.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/Main</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Dalie</description>
		<display-name>Dalie</display-name>
		<servlet-name>Dalie</servlet-name>
		<jsp-file>/siteContents/dalie/Dalie.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dalie</servlet-name>
		<url-pattern>/Dalie</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>TryOut</description>
		<display-name>TryOut</display-name>
		<servlet-name>TryOut</servlet-name>
		<jsp-file>/siteContents/tryOuts/TryOut.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>TryOut</servlet-name>
		<url-pattern>/TryOut</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Logo</description>
		<display-name>Logo</display-name>
		<servlet-name>Logo</servlet-name>
		<jsp-file>/siteContents/logo/Logo.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logo</servlet-name>
		<url-pattern>/Logo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>LogoHeadLine</description>
		<display-name>LogoHeadLine</display-name>
		<servlet-name>Line</servlet-name>
		<jsp-file>/siteContents/logo/headline/Line.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Line</servlet-name>
		<url-pattern>/Line</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Logo Banner City</description>
		<display-name>Logo Banner City</display-name>
		<servlet-name>Line_City</servlet-name>
		<jsp-file>/siteContents/logo/headline/Line_City.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Line_City</servlet-name>
		<url-pattern>/Line_City</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Logo Banner Street</description>
		<display-name>Logo Banner Street</display-name>
		<servlet-name>Line_Street</servlet-name>
		<jsp-file>/siteContents/logo/headline/Line_Street.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Line_Street</servlet-name>
		<url-pattern>/Line_Street</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Logo Banner Phone</description>
		<display-name>Logo Banner Phone</display-name>
		<servlet-name>Line_Phone</servlet-name>
		<jsp-file>/siteContents/logo/headline/Line_Phone.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Line_Phone</servlet-name>
		<url-pattern>/Line_Phone</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Logo Banner Mobile</description>
		<display-name>Logo Banner Mobile</display-name>
		<servlet-name>Line_Mobile</servlet-name>
		<jsp-file>/siteContents/logo/headline/Line_Mobile.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Line_Mobile</servlet-name>
		<url-pattern>/Line_Mobile</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Logo Banner Mail</description>
		<display-name>Logo Banner Mail</display-name>
		<servlet-name>Line_Mail</servlet-name>
		<jsp-file>/siteContents/logo/headline/Line_Mail.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Line_Mail</servlet-name>
		<url-pattern>/Line_Mail</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Logo Banner Web</description>
		<display-name>Logo Banner Web</display-name>
		<servlet-name>Line_Web</servlet-name>
		<jsp-file>/siteContents/logo/headline/Line_Web.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Line_Web</servlet-name>
		<url-pattern>/Line_Web</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Logo Banner Hobbies</description>
		<display-name>Logo Banner Hobbies</display-name>
		<servlet-name>Line_Hobbies</servlet-name>
		<jsp-file>/siteContents/logo/headline/Line_Hobbies.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Line_Hobbies</servlet-name>
		<url-pattern>/Line_Hobbies</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Logo Banner Resume</description>
		<display-name>Logo Banner Resume</display-name>
		<servlet-name>Line_Resume</servlet-name>
		<jsp-file>/siteContents/logo/headline/Line_Resume.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Line_Resume</servlet-name>
		<url-pattern>/Line_Resume</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Resume</description>
		<display-name>Resume</display-name>
		<servlet-name>Resume</servlet-name>
		<jsp-file>/siteContents/resume/Resume.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Resume</servlet-name>
		<url-pattern>/Resume</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Career</description>
		<display-name>Career</display-name>
		<servlet-name>Career</servlet-name>
		<jsp-file>/siteContents/resume/career/Career.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Career</servlet-name>
		<url-pattern>/Career</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Education</description>
		<display-name>Education</display-name>
		<servlet-name>Education</servlet-name>
		<jsp-file>/siteContents/resume/education/Education.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Education</servlet-name>
		<url-pattern>/Education</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Projects</description>
		<display-name>Projects</display-name>
		<servlet-name>Projects</servlet-name>
		<jsp-file>/siteContents/resume/projects/Projects.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Projects</servlet-name>
		<url-pattern>/Projects</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>dmc</description>
		<display-name>dmc</display-name>
		<servlet-name>dmc</servlet-name>
		<jsp-file>/siteContents/resume/career/jobs/dmc.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>dmc</servlet-name>
		<url-pattern>/dmc</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>judo</description>
		<display-name>judo</display-name>
		<servlet-name>judo</servlet-name>
		<jsp-file>/siteContents/resume/career/jobs/judo.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>judo</servlet-name>
		<url-pattern>/judo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>flex</description>
		<display-name>flex</display-name>
		<servlet-name>flex</servlet-name>
		<jsp-file>/siteContents/resume/career/jobs/flex.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>flex</servlet-name>
		<url-pattern>/flex</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>schlecker</description>
		<display-name>schlecker</display-name>
		<servlet-name>schlecker</servlet-name>
		<jsp-file>/siteContents/resume/career/jobs/schlecker.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>schlecker</servlet-name>
		<url-pattern>/schlecker</url-pattern>
	</servlet-mapping>
		<servlet>
		<description>voigt</description>
		<display-name>voigt</display-name>
		<servlet-name>voigt</servlet-name>
		<jsp-file>/siteContents/resume/career/jobs/voigt.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>voigt</servlet-name>
		<url-pattern>/voigt</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>noba</description>
		<display-name>noba</display-name>
		<servlet-name>noba</servlet-name>
		<jsp-file>/siteContents/resume/career/jobs/noba.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>noba</servlet-name>
		<url-pattern>/noba</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>bund</description>
		<display-name>bund</display-name>
		<servlet-name>bund</servlet-name>
		<jsp-file>/siteContents/resume/career/jobs/bund.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>bund</servlet-name>
		<url-pattern>/bund</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>vwa</description>
		<display-name>vwa</display-name>
		<servlet-name>vwa</servlet-name>
		<jsp-file>/siteContents/resume/education/steps/vwa.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>vwa</servlet-name>
		<url-pattern>/vwa</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>officeCommunication</description>
		<display-name>officeCommunication</display-name>
		<servlet-name>officeCommunication</servlet-name>
		<jsp-file>/siteContents/resume/education/steps/officeCommunication.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>officeCommunication</servlet-name>
		<url-pattern>/officeCommunication</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>mfd</description>
		<display-name>mfd</display-name>
		<servlet-name>mfd</servlet-name>
		<jsp-file>/siteContents/resume/education/steps/mfd.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>mfd</servlet-name>
		<url-pattern>/mfd</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>jena</description>
		<display-name>jena</display-name>
		<servlet-name>jena</servlet-name>
		<jsp-file>/siteContents/resume/education/steps/jena.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>jena</servlet-name>
		<url-pattern>/jena</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>rosa</description>
		<display-name>rosa</display-name>
		<servlet-name>rosa</servlet-name>
		<jsp-file>/siteContents/resume/education/steps/rosa.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>rosa</servlet-name>
		<url-pattern>/rosa</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>current</description>
		<display-name>current</display-name>
		<servlet-name>current</servlet-name>
		<jsp-file>/siteContents/resume/projects/years/current.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>current</servlet-name>
		<url-pattern>/current</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>ErrorSite</description>
		<display-name>ErrorSite</display-name>
		<servlet-name>ErrorSite</servlet-name>
		<jsp-file>/siteContents/error/ErrorSite.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrorSite</servlet-name>
		<url-pattern>/ErrorSite</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Error</description>
		<display-name>Error</display-name>
		<servlet-name>Error</servlet-name>
		<jsp-file>/siteContents/error/Error.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Error</servlet-name>
		<url-pattern>/Error</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Header SiteType01</description>
		<display-name>Header01</display-name>
		<servlet-name>Header01</servlet-name>
		<jsp-file>/siteTypes/header/Header01.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Header01</servlet-name>
		<url-pattern>/Header01</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Footer StiteType01</description>
		<display-name>Footer01</display-name>
		<servlet-name>Footer01</servlet-name>
		<jsp-file>/siteTypes/footer/Footer01.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Footer01</servlet-name>
		<url-pattern>/Footer01</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Footer StiteType02</description>
		<display-name>Footer02</display-name>
		<servlet-name>Footer02</servlet-name>
		<jsp-file>/siteTypes/footer/Footer02.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Footer02</servlet-name>
		<url-pattern>/Footer02</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>DemoPage</description>
		<display-name>Page</display-name>
		<servlet-name>Page</servlet-name>
		<jsp-file>/siteContents/main/content/Page.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Page</servlet-name>
		<url-pattern>/Page</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>ServiceOptionsList</description>
		<display-name>ServiceOptionsList</display-name>
		<servlet-name>ServiceOptionsList</servlet-name>
		<jsp-file>/siteContents/main/serviceOption/ServiceOptionsList.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceOptionsList</servlet-name>
		<url-pattern>/ServiceOptionsList</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>ServiceOptionsDialog</description>
		<display-name>ServiceOptionsDialog</display-name>
		<servlet-name>ServiceOptionsDialog</servlet-name>
		<jsp-file>/siteContents/main/serviceOption/ServiceOptionsDialog.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceOptionsDialog</servlet-name>
		<url-pattern>/ServiceOptionsDialog</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Ajax</description>
		<display-name>Ajax</display-name>
		<servlet-name>Ajax</servlet-name>
		<jsp-file>/siteContents/main/ajax/Ajax.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ajax</servlet-name>
		<url-pattern>/Ajax</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>AjaxDialog</description>
		<display-name>AjaxDialog</display-name>
		<servlet-name>AjaxDialog</servlet-name>
		<jsp-file>/siteContents/main/ajax/AjaxDialog.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxDialog</servlet-name>
		<url-pattern>/AjaxDialog</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Hint</description>
		<display-name>Hint</display-name>
		<servlet-name>Hint</servlet-name>
		<jsp-file>/siteContents/main/ajax/Hint.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hint</servlet-name>
		<url-pattern>/Hint</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>FavoritesSite</description>
		<display-name>FavoritesSite</display-name>
		<servlet-name>FavoritesSite</servlet-name>
		<jsp-file>/siteContents/favorites/FavoritesSite.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>FavoritesSite</servlet-name>
		<url-pattern>/FavoritesSite</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>FavoritesContent</description>
		<display-name>FavoritesContent</display-name>
		<servlet-name>FavoritesContent</servlet-name>
		<jsp-file>/siteContents/favorites/FavoritesContent.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>FavoritesContent</servlet-name>
		<url-pattern>/FavoritesContent</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>MainTeaser</description>
		<display-name>MainTeaser</display-name>
		<servlet-name>MainTeaser</servlet-name>
		<jsp-file>/siteContents/main/teaser/MainTeaser.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainTeaser</servlet-name>
		<url-pattern>/MainTeaser</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Language</display-name>
		<servlet-name>Language</servlet-name>
		<servlet-class>mobile.web.servlet.language.Language</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Language</servlet-name>
		<url-pattern>/Language</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LanguageSetter</display-name>
		<servlet-name>LanguageSetter</servlet-name>
		<servlet-class>mobile.web.servlet.language.LanguageSetter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LanguageSetter</servlet-name>
		<url-pattern>/LanguageSetter</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>LanguageSite</description>
		<display-name>LanguageSite</display-name>
		<servlet-name>LanguageSite</servlet-name>
		<jsp-file>/siteContents/backOffice/language/LanguageSite.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LanguageSite</servlet-name>
		<url-pattern>/LanguageSite</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>LanguageContent</description>
		<display-name>LanguageContent</display-name>
		<servlet-name>LanguageContent</servlet-name>
		<jsp-file>/siteContents/backOffice/language/LanguageContent.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LanguageContent</servlet-name>
		<url-pattern>/LanguageContent</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>DialogByRelease</description>
		<display-name>DialogByRelease</display-name>
		<servlet-name>DialogByRelease</servlet-name>
		<jsp-file>/siteContents/dialogs/properties/DialogByRelease.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>DialogByRelease</servlet-name>
		<url-pattern>/DialogByRelease</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>BackOffice</description>
		<display-name>BackOffice</display-name>
		<servlet-name>BackOffice</servlet-name>
		<jsp-file>/siteContents/backOffice/BackOffice.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>BackOffice</servlet-name>
		<url-pattern>/BackOffice</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>PropertyFormByRelease</description>
		<display-name>PropertyFormByRelease</display-name>
		<servlet-name>PropertyFormByRelease</servlet-name>
		<jsp-file>/properties/webForm/PropertyFormByRelease.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PropertyFormByRelease</servlet-name>
		<url-pattern>/PropertyFormByRelease</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>GetAllProperties on Store Map</description>
		<display-name>GetAllProperties</display-name>
		<servlet-name>GetAllProperties</servlet-name>
		<servlet-class>mobile.web.servlet.properties.GetAllProperties</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllProperties</servlet-name>
		<url-pattern>/GetAllProperties</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>OverViewSite</description>
		<display-name>OverViewSite</display-name>
		<servlet-name>OverViewSite</servlet-name>
		<jsp-file>/siteContents/backOffice/properties/overView/OverViewSite.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>OverViewSite</servlet-name>
		<url-pattern>/OverViewSite</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>OverViewProperties</description>
		<display-name>OverViewProperties</display-name>
		<servlet-name>OverViewProperties</servlet-name>
		<jsp-file>/siteContents/backOffice/properties/overView/OverViewProperties.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>OverViewProperties</servlet-name>
		<url-pattern>/OverViewProperties</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>SelectViewPropertyByDefault</description>
		<display-name>SelectViewPropertyByDefault</display-name>
		<servlet-name>SelectViewPropertyByDefault</servlet-name>
		<jsp-file>/siteContents/backOffice/properties/overView/SelectViewPropertyByDefault.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectViewPropertyByDefault</servlet-name>
		<url-pattern>/SelectViewPropertyByDefault</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>SelectViewPropertyByUpdate</description>
		<display-name>SelectViewPropertyByUpdate</display-name>
		<servlet-name>SelectViewPropertyByUpdate</servlet-name>
		<jsp-file>/siteContents/backOffice/properties/overView/SelectViewPropertyByUpdate.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectViewPropertyByUpdate</servlet-name>
		<url-pattern>/SelectViewPropertyByUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>ServiceOptions</description>
		<display-name>ServiceOptions</display-name>
		<servlet-name>ServiceOptions</servlet-name>
		<servlet-class>mobile.web.servlet.ServiceOptions</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceOptions</servlet-name>
		<url-pattern>/ServiceOptions</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MobileApp</display-name>
		<servlet-name>MobileApp</servlet-name>
		<servlet-class>mobile.web.MobileApp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MobileApp</servlet-name>
		<url-pattern>/MobileApp</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AjaxDialogs</display-name>
		<servlet-name>AjaxDialogs</servlet-name>
		<servlet-class>mobile.web.servlet.AjaxDialogs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxDialogs</servlet-name>
		<url-pattern>/AjaxDialogs</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>WebPropertyFormCreate</display-name>
		<servlet-name>WebPropertyFormCreate</servlet-name>
		<servlet-class>mobile.web.servlet.properties.WebPropertyFormCreate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebPropertyFormCreate</servlet-name>
		<url-pattern>/WebPropertyFormCreate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>WebPropertyFormById</display-name>
		<servlet-name>WebPropertyFormById</servlet-name>
		<servlet-class>mobile.web.servlet.properties.WebPropertyFormById</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebPropertyFormById</servlet-name>
		<url-pattern>/WebPropertyFormById</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>WebPropertyFormCheck</display-name>
		<servlet-name>WebPropertyFormCheck</servlet-name>
		<servlet-class>mobile.web.servlet.properties.WebPropertyFormCheck</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebPropertyFormCheck</servlet-name>
		<url-pattern>/WebPropertyFormCheck</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>PropertyForm</description>
		<display-name>PropertyForm</display-name>
		<servlet-name>PropertyForm</servlet-name>
		<jsp-file>/siteContents/backOffice/properties/webForm/PropertyForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PropertyForm</servlet-name>
		<url-pattern>/PropertyForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>PropertyForm01</description>
		<display-name>PropertyForm01</display-name>
		<servlet-name>PropertyForm01</servlet-name>
		<jsp-file>/siteContents/backOffice/properties/webForm/PropertyForm01.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PropertyForm01</servlet-name>
		<url-pattern>/PropertyForm01</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>PropertyContent</description>
		<display-name>PropertyContent</display-name>
		<servlet-name>PropertyContent</servlet-name>
		<jsp-file>/siteContents/backOffice/properties/PropertyContent.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PropertyContent</servlet-name>
		<url-pattern>/PropertyContent</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>PropertyContentData</description>
		<display-name>PropertyContentData</display-name>
		<servlet-name>PropertyContentData</servlet-name>
		<jsp-file>/siteContents/backOffice/properties/ajax/refresh/PropertyContentData.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PropertyContentData</servlet-name>
		<url-pattern>/PropertyContentData</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>PropertyMetaData</description>
		<display-name>PropertyMetaData</display-name>
		<servlet-name>PropertyMetaData</servlet-name>
		<jsp-file>/siteContents/backOffice/properties/ajax/refresh/PropertyMetaData.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PropertyMetaData</servlet-name>
		<url-pattern>/PropertyMetaData</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>PropertySite</description>
		<display-name>PropertySite</display-name>
		<servlet-name>PropertySite</servlet-name>
		<jsp-file>/siteContents/backOffice/properties/PropertySite.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PropertySite</servlet-name>
		<url-pattern>/PropertySite</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>TabProperties</description>
		<display-name>TabProperties</display-name>
		<servlet-name>TabProperties</servlet-name>
		<jsp-file>/siteContents/backOffice/properties/TabProperties.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>TabProperties</servlet-name>
		<url-pattern>/TabProperties</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>MobileApp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/TagDescriptor.tld</taglib-uri>
			<taglib-location>/WEB-INF/TagDescriptor.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/Grid.tld</taglib-uri>
			<taglib-location>/WEB-INF/Grid.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>