@CHARSET "ISO-8859-1";

div.dalie-footer {
 	background-color: #DACDB9;
 	/*background-color: #780000;*/
 	border: 4px solid #ddd;
 	border-radius: 10px;
 	-moz-border-radius: 10px;
    -webkit-border-radius: 10em;
 	cursor: pointer;
 	margin: 6px 12px;
 	padding: 0px 5px;

 }
 div.switchHover:HOVER {
 	opacity: 0.5;
   	filter:Alpha(Opacity=50);
 }
