<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>probierstube</display-name>
  <servlet>
    <description>
		</description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>selinas-SiteTyp1</display-name>
    <servlet-name>selinas-SiteTyp1</servlet-name>
    <jsp-file>/vorlagen/selinas-SiteTyp1.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>selinas-SiteTyp2</display-name>
    <servlet-name>selinas-SiteTyp2</servlet-name>
    <jsp-file>/vorlagen/selinas-SiteTyp2.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>selinas-SiteTyp3</display-name>
    <servlet-name>selinas-SiteTyp3</servlet-name>
    <jsp-file>/vorlagen/selinas-SiteTyp3.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>selinas-SiteTyp4</display-name>
    <servlet-name>selinas-SiteTyp4</servlet-name>
    <jsp-file>/vorlagen/selinas-SiteTyp4.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>selinas-SiteTyp5</display-name>
    <servlet-name>selinas-SiteTyp5</servlet-name>
    <jsp-file>/vorlagen/selinas-SiteTyp5.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>selinas-SiteTyp6</display-name>
    <servlet-name>selinas-SiteTyp6</servlet-name>
    <jsp-file>/vorlagen/selinas-SiteTyp6.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>selinas-SiteTyp7</display-name>
    <servlet-name>selinas-SiteTyp7</servlet-name>
    <jsp-file>/vorlagen/selinas-SiteTyp7.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>selinas-SiteTyp8</display-name>
    <servlet-name>selinas-SiteTyp8</servlet-name>
    <jsp-file>/vorlagen/selinas-SiteTyp8.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>selinas-SiteTyp9</display-name>
    <servlet-name>selinas-SiteTyp9</servlet-name>
    <jsp-file>/vorlagen/selinas-SiteTyp9.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>selinas-SiteTyp10</display-name>
    <servlet-name>selinas-SiteTyp10</servlet-name>
    <jsp-file>/vorlagen/selinas-SiteTyp10.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>date</display-name>
    <servlet-name>date</servlet-name>
    <jsp-file>/date/date.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>showIcons</display-name>
    <servlet-name>showIcons</servlet-name>
    <jsp-file>/showPictures/showIcons.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>BasisVorlage</display-name>
    <servlet-name>BasisVorlage</servlet-name>
    <jsp-file>/vorlagen/BasisVorlage.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>Vorlage</display-name>
    <servlet-name>Vorlage</servlet-name>
    <jsp-file>/vorlagen/BasisVorlage.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>lernen</display-name>
    <servlet-name>lernen</servlet-name>
    <jsp-file>/lernen/lernen.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>change the color of any input box border</description>
    <display-name>input</display-name>
    <servlet-name>input</servlet-name>
    <jsp-file>/input/input.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>selinas001 -> call edtitbox</description>
    <display-name>selinas001</display-name>
    <servlet-name>selinas001</servlet-name>
    <jsp-file>/selinas/selinas001.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>selinas002 -> show edtitbox</description>
    <display-name>selinas002</display-name>
    <servlet-name>selinas002</servlet-name>
    <jsp-file>/selinas/selinas002.jsp</jsp-file>
  </servlet>
   <servlet>
    <description>stech a div</description>
    <display-name>strechDiv</display-name>
    <servlet-name>strechDiv</servlet-name>
    <jsp-file>/div/strechDiv.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>strechDiv</servlet-name>
    <url-pattern>/strechDiv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selinas001</servlet-name>
    <url-pattern>/selinas001</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selinas002</servlet-name>
    <url-pattern>/selinas002</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selinas-SiteTyp1</servlet-name>
    <url-pattern>/selinas-SiteTyp1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selinas-SiteTyp2</servlet-name>
    <url-pattern>/selinas-SiteTyp2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selinas-SiteTyp3</servlet-name>
    <url-pattern>/selinas-SiteTyp3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selinas-SiteTyp4</servlet-name>
    <url-pattern>/selinas-SiteTyp4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selinas-SiteTyp5</servlet-name>
    <url-pattern>/selinas-SiteTyp5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selinas-SiteTyp6</servlet-name>
    <url-pattern>/selinas-SiteTyp6</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selinas-SiteTyp7</servlet-name>
    <url-pattern>/selinas-SiteTyp7</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selinas-SiteTyp8</servlet-name>
    <url-pattern>/selinas-SiteTyp8</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selinas-SiteTyp9</servlet-name>
    <url-pattern>/selinas-SiteTyp9</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selinas-SiteTyp10</servlet-name>
    <url-pattern>/selinas-SiteTyp10</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>date</servlet-name>
    <url-pattern>/date</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showIcons</servlet-name>
    <url-pattern>/showIcons</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BasisVorlage</servlet-name>
    <url-pattern>/BasisVorlage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Vorlage</servlet-name>
    <url-pattern>/Vorlage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lernen</servlet-name>
    <url-pattern>/lernen</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>dalie</taglib-uri>
      <taglib-location>/WEB-INF/TagLibraryDescriptor.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description>to call SelinasText</description>
    <display-name>GoToSelinas</display-name>
    <servlet-name>GoToSelinas</servlet-name>
    <servlet-class>selinas.servlets.GoToSelinas</servlet-class>
    <init-param>
      <description>TypOfDatabase</description>
      <param-name>dbType</param-name>
      <param-value>mySql</param-value>
    </init-param>
    <init-param>
      <description>UrlOfWeb</description>
      <param-name>dbHost</param-name>
      <param-value>localhost</param-value>
    </init-param>
    <init-param>
      <description>DBSchema</description>
      <param-name>dbSchema</param-name>
      <param-value>selina</param-value>
    </init-param>
    <init-param>
      <description>DBUser</description>
      <param-name>user</param-name>
      <param-value>web4857</param-value>
    </init-param>
    <init-param>
      <description>PWofUser</description>
      <param-name>password</param-name>
      <param-value>selina2009</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoToSelinas</servlet-name>
    <url-pattern>/GoToSelinas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>get JSP-Page Selinas002</description>
    <display-name>GoToSelinas002</display-name>
    <servlet-name>GoToSelinas002</servlet-name>
    <servlet-class>selinas.servlets.GoToSelinas002</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoToSelinas002</servlet-name>
    <url-pattern>/GoToSelinas002</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Dokument: to mainpulation</description>
    <display-name>DokumentToProcess</display-name>
    <servlet-name>DokumentToProcess</servlet-name>
    <servlet-class>selinas.servlets.DokumentToProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DokumentToProcess</servlet-name>
    <url-pattern>/DokumentToProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>load picture on server an get thumnails</description>
    <display-name>Upload001Servlet</display-name>
    <servlet-name>Upload001Servlet</servlet-name>
    <servlet-class>selinas.servlets.Upload001Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload001Servlet</servlet-name>
    <url-pattern>/Upload001Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>upload001</display-name>
    <servlet-name>upload001</servlet-name>
    <jsp-file>/thumbnails/upload001.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload001</servlet-name>
    <url-pattern>/upload001</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SynchronizedServlet2</display-name>
    <servlet-name>SynchronizedServlet2</servlet-name>
    <servlet-class>de.ars.javabuch.tuning.SynchronizedServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SynchronizedServlet2</servlet-name>
    <url-pattern>/SynchronizedServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SynchronizedServlet1</display-name>
    <servlet-name>SynchronizedServlet1</servlet-name>
    <servlet-class>de.ars.javabuch.tuning.SynchronizedServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SynchronizedServlet1</servlet-name>
    <url-pattern>/SynchronizedServlet1</url-pattern>
  </servlet-mapping>
</web-app>